/*
Description: Minimal styling for in-class exercise
Author: Your Name
Email: your.email@example.com
Tags: RSS Reader
*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Style the top navigation bar */
header {
  width: 100%;
  overflow: hidden;
  background-color: #131212;
  color: rgb(252, 249, 249);
  text-align: center;
  padding: 10px;
}

/* Style the content */
main {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}

/* Style the footer */
footer {
  clear: both;
  text-align: center;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: black;
}

/* Style the feed items */
article {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}